.wordWrapper{
    margin: 2px 2px;
    position: relative;
}

.speechButton{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: white;
    border: none;
    padding: 0;
}
