.grid {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.sentence{
    display: flex;
    flex-wrap: wrap;
}

.sentenceButton{
    border: none;
    padding: none;
    text-decoration: none;
    height: 1rem;
    width: auto;
    margin: auto 5px;
}